<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Web App</title>
        <link rel="stylesheet" type="text/css" href="css/test.css">
        <script type="text/javascript" src="js/test.js"></script>
    </head>
    <body>
        <h2 id="content"></h2>
        <button onclick="onClick()">更新</button>
    </body>
</html>